/* Styling for the container of property details */
.propDetail-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 8px;
}

/* Styling for the heading within the property details container */
.propDetail-container h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

/* Styling for the "View Details" button */
.viewDetails {
    margin: 20px;
}

/* Styling for the image gallery within the property details */
.image-gallery {
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
}

/* Styling for property information within the property details */
.propInfo {
    font-size: 1rem;
    line-height: 1.6;
    color: white;
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

/* Styling for paragraphs within property information */
.propInfo p {
    margin: 10px 0;
}

/* Styling for the first paragraph within property information */
.propInfo p:first-child {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

/* Responsive Design */

/* Adjustments for screens with a maximum width of 768px */
@media (max-width: 768px) {
    .propDetail-container {
        max-width: 95%;
        margin: 10px auto;
        padding: 15px;
    }

    /* Adjusted font size for heading on smaller screens */
    .propDetail-container h2 {
        font-size: 1.8rem;
    }
}

/* Styling for the "Back" button */
.backButton {
    margin: 10px 0;
    padding: 8px 16px;
    background-color: #1fea00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Hover effect for the "Back" button */
.backButton:hover {
    background-color: #27a102;
}
